<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" (click)="router.navigate(['']);" style="cursor: pointer; color: #FFC500">SW Wiki</a>
  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/films" style="display: flex;"><div class="films-icon"></div>Films</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/films/1">Film 1</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/films/2">Film 2</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/characters" style="display: flex;"><div class="characters-icon"></div>Characters</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/characters/1">Char 1</a>
      </li>
    </ul>
    <div class="loader" *ngIf="loading"></div>
  </div>
</nav>
<div *ngIf="error" style="background-color: red; text-align: center; color: white; height: 15px; font-size: 12px; padding: 0px; line-height: 12px">
  {{ error.message }}
</div>

<main role="main">
  <div class="container main-container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="footer bg-dark">
  <div class="container footer-content">
    <p style="color: white">© Vinicius Cechin 2018</p>
  </div>
</footer>
