<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand">Star Wars Wiki</a>
  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/films">Films</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/films/1">Film 1</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/films/2">Film 2</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/characters">Characters</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/characters/1">Char 1</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="container">
  <hr>
  <p>© Vinicius Cechin 2018</p>
</footer>
