/* You can add global styles to this file, and also import other style files */
body {
  overflow-y: scroll;
  background: url('/assets/stars-background.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
}
